<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/application.html}">
    
    <section layout:fragment="header">
        <p th:object="${url}" th:text="'Сайт ' + *{protocol} + '://' + *{host} + ( (*{port} == null) ? '' : (':' + *{port}) )"></p>
    </section>

    <section layout:fragment="content">
        <table class="table table-bordered">
            <tbody th:object="${url}">
              <tr>
                <td>ID</td>
                <td th:text="*{id}"></td>
              </tr>
              <tr>
                <td>Имя</td>
                <td th:text="*{protocol} + '://' + *{host} + ( (*{port} == null) ? '' : (':' + *{port}) )" ></td>
              </tr>
              <tr>
                <td>createdAt</td>
                <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MMM/yyyy HH:mm')}"></td>
              </tr>
            </tbody>
          </table>
        <p>Проверки</p>
        <form class="row g-3" action="/urls/${id}/checks" method="post">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Запустить проверку</button>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Код ответа</th>
                    <th scope="col">title</th>
                    <th scope="col">h1</th>
                    <th scope="col">description</th>
                    <th scope="col">Дата проверки</th>
                </tr>
            </thead>
            <tbody th:each="urlCheck : ${url.getUrlChecks()}" th:object="${urlCheck}"></tbody>
              <tr>
                <td th:text="*{id}" ></td>
                <td th:text="*{statusCode}" ></td>
                <td th:text="*{#strings.abbreviate(title, 10)}" ></td>
                <td th:text="*{#strings.abbreviate(h1, 10)}" ></td>
                <td th:text="*{#strings.abbreviate(description, 10)}" ></td>
                <td th:text="*{#temporals.format(createdAt, 'dd/MMM/yyyy HH:mm')}" ></td>
              </tr>
            </tbody>
          </table>
    </section>  

</html>