<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/application.html}">
    
    <section layout:fragment="header">
        <p th:text="'Сайт ' + ${url.getPath()}"></p>
    </section>

    <section layout:fragment="content">
        <table class="table table-bordered table-hover">
          <tbody th:object="${url}">
            <tr>
              <td>ID</td>
              <td th:text="*{id}"></td>
            </tr>
            <tr>
              <td>Имя</td>
              <td th:text="${url.getPath()}" ></td>
            </tr>
            <tr>
              <td>createdAt</td>
              <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MMM/yyyy HH:mm')}"></td>
            </tr>
          </tbody>
        </table>
        <p>Проверки</p>

        <form class="row g-3" th:action="@{'/urls/' + ${url.getId()} + '/checks'}"  method="post">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Запустить проверку</button>
            </div>
        </form>
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Код ответа</th>
                    <th scope="col">title</th>
                    <th scope="col">h1</th>
                    <th scope="col">description</th>
                    <th scope="col">Дата проверки</th>
                </tr>
            </thead>
            <tbody th:each="urlCheck : ${urlChecks}" th:object="${urlCheck}">
              <tr>
                <td th:text="*{id}" ></td>
                <td th:text="*{statusCode}" ></td>
                <td th:text="*{#strings.abbreviate(title, 30)}" ></td>
                <td th:text="*{#strings.abbreviate(h1, 30)}" ></td>
                <td th:text="*{#strings.abbreviate(description, 30)}" ></td>
                <td th:text="*{#temporals.format(createdAt, 'dd/MMM/yyyy HH:mm')}" ></td>
              </tr>
            </tbody>
          </table>
    </section>  

</html>