<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/application.html}">
    
    <section layout:fragment="header">
        Доброго времени суток, глубокоуважаемый Юзер!
    </section>

    <section layout:fragment="content">
        <form class="row g-3" action="/urls" method="post">
            <div class="mb-3">
                <label for="Input1" class="form-label">Введи URL</label>
                <input type="text" name="url" class="form-control" id="Input1"  placeholder="URL" th:value="${url}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Чекнуть</button>
            </div>
        </form>
    </section>  

</html>